/* header */
#body-head{
    height: 70vh;
    background-image: url(../images/wall.jpg);
    /* background-image: url(../images/1577945374760.jpg); */
    background-repeat: no-repeat;
    opacity: 0.8;
    background-size: auto;
    background-position: center;
    background-attachment: fixed;
}


.horizontal{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

/* list item in navigations */
.horizontal li{
    font-size: 30px;
    display: inline-block;
    margin: 20px 8px 8px 0px;
}

/* in header --> navigation --> anchor tag */
.horizontal li a{
    color: white;
    text-decoration: none;
    margin: 10px;
}

/* navigation hovwer  */
.horizontal li a:hover{
    color: black;
    border-bottom: 1px solid wheat;
    transition: color 0.5s;
}

/* text center */
.text-center{
    text-align: center;
    text-transform: capitalize ;
}
.name{
    text-align: center;
    font-size: 100px;
}

/* social icons */
#size {
    display: inline-block;
    margin: 10px;
}

#my-name{
    font-size: 100px;
    margin: 100px 10px 10px 0px;
}

/* fb logo */
#facebook{
    margin: 0px 20px 0px 0px;
    
}

/* insta logo */
#instagram{
    margin: 0px 20px 0px 0px;
}

/* linkedin logo */
#linkedin{
    margin: 0px 20px 0px 0px;
}

/* telegram logo */
#telegram{
    margin: 0px 20px 0px 0px;
}

/* twiter logo */
#twitter{
    margin: 0px 20px 0px 0px;
}

/* social icons hover */
.social-icons li a img:hover{
    box-shadow: 0px 0px 6px 4px rgba(230, 187, 187, 0.3);
}

/* about section ---> */

#about{
    height: auto;
    width: 100%;
    position: relative;
}

#image{
    height: 20rem;
    width: 20rem;
    margin: auto;
    box-shadow: rgb(9, 145, 219);
}

#image img{
    margin: 10px;
    padding: 10px;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
/* pa */
#para{
    color: black;
    text-align: center;
    font-size: xx-large;
    font-weight: normal;
    margin: 30px 0px 0px 0px;
    padding: 20px 300px 30px 300px;
}

.skills-display{
    width: 70%;
    height: 100px
    border: 2px solid black;
}

/* section skills */
/* #skill{
    color: black;
    font-weight: bold;
    font-family: initial;
    font-size: xx-large;
    text-align: center;
} */