
body{
    background-color: lightblue;
}

h1{
    color: darkslateblue;
}

h2{
    color:cyan ;
}
h3{
    color:darkseagreen;
}
h4{
    color:darkgrey;
}
h5{
    color:darkred;
}
p{
    color:lightcoral ;
    
    font-size: 100%;
}
h1{
    text-align: right;
}

p{
    text-align: center;
}
#para1{
    text-align: center;
    color: brown;
}